/* Método First Mobile */

body {
  background-color: #000000;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  -webkit-tap-highlight-color:transparent;
}

#game{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image:url("/resources/texturaGamePad.png");
  color: #ffffff;
}

#screen{
  background-color: #17271a;
  height: 60vh;
  width: 90%;
  max-width: 800px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  padding: 5px;
  margin: 30px auto 0px; 
}

#stats {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  border: 2px solid #bb3648;
  padding: 20px;
  color: #ffffff; 
}

#monsterStats {
  box-sizing: border-box;
  width: 100%;
  display: none;
  border: 1px solid #0a0a23;
  padding: 10px;
  color: #ffffff;
  background-color: #8d0000;
}

#text {
  box-sizing: border-box;
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
  height: 80%;
  width: 100%;
}

#controls{
  height: 35vh;
  position: absolute;
  width: 100%;
  background-image:url("/resources/texturaGamePad.png");
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.controlButton{
  width: 80%;
  max-width: 500px;
  cursor: pointer;
  color: #ffffff;
  background-color: #fe6c32;
  background-image: linear-gradient(#d85d0b, #b4240a);
  border: 3px solid #feac32;
  padding: 5px;
  margin: 5px;
  font-weight: 700;
  box-shadow: #349fb9 1px 1px;
}

.controlButton:active{
  box-shadow: #349fb9 -1px -1px;
  background-image: linear-gradient(#b4240a, #c55307);
}

.stat {
  padding-right: 20px;
}

/* Versión de escritorio Proximamente */